@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.header-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top-row top-row"
    "nav-bar nav-bar";
  max-width: 1250px;
  margin: 0 auto;
}

.second-row {
  grid-area: nav-bar;
  position: relative;
}

.top-row {
  grid-area: top-row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  list-style-type: none;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  justify-content: flex-end;
}


.word {
  color: #999;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 21px;
}

.donatebtn{
  color: orange;
}

.homebtn {
  color: #009353;
}

.top-row-second-column-wrapper{
  margin-top: 21px;
  position: relative;
}

.top-row-image-wrapper{
  width: 262px;
  height: 135px;
}


.top-row-image-wrapper img {
  width: 100%;
  height: auto;
}

.number-wrapper{
  display:flex;
  flex-direction: row;
  color: #009353;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  float: right;
  position: relative;
  right: 20px;
  top: -8px;

}
.call{
  color: slategray;
}
.second-row-image-wrapper{
  position: relative;
  top: -30px;
  display: flex;
  position: absolute;
  top: 54px;
}

.searchbox{
  position: absolute;
  width: 194px;
  top: 24px;
  padding: 9px;
}

.input-arrow-wrapper{
  position: relative;
}

.arrow-image{
  position: absolute;
  top: 36px;
  left: 184px;

}

.tracking-in-contract-bck{-webkit-animation:tracking-in-contract-bck 3s cubic-bezier(.215,.61,.355,1.000)
   both;animation:tracking-in-contract-bck 1s cubic-bezier(.215,.61,.355,1.000) both}

@-webkit-keyframes tracking-in-contract-bck{
   0%{letter-spacing:1em;-webkit-transform:translateZ(400px);
    transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);
      transform:translateZ(0);opacity:1}}

@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);
  transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);
    transform:translateZ(0);opacity:1}}

 .bigphoto-container img {
  position: absolute;
  background-size: cover;
  width: 100%;
}

.tracking-in-contract-bck {
    color:white;
    position: absolute;
    bottom: 20px;
    right: 16px;
    font-size: 70px;
    background-color: rgba(0,0,0, .5);
    padding: 30px;
    font-family: 'Raleway', sans-serif;
  }

.groupphoto img{
 position:relative;
 width:150px;
}

.logo-img .img {
 max-width: 100%;
 height: auto;
}

img.logo {
  width: 44px;
  padding: 4px;
  position: relative;
  padding-top: 18px;

}

.frontpicture-container img{
  width: 1327px;
  height: 480px;
}

.bigphoto2-wrapper{
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
  overflow: hidden;
  border-color: rgb(51, 51, 51);
  border-style: none;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

h1 {
  font-family: "Oswald";
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
} 

.third-container{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.third-title-wrapper{
  position: relative;
  top: 329px;
}

.caption-of-third-container{
  width: 800px;
  font-size: 17px;
  color: #333;
  
}

.second-title-caption-of-third-container {
  position: relative;
  top: 3px;
  font-family: "oswald";
}

.right-photo-in-third-container{
  height: 300px;
  width: 194px;
  background-color: green;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 50px;
}


.left-photo-last-photo-in-third-container{
  border-radius: 10px;
  padding: 10px;
  background-color: green;
  padding-bottom: 50px;
}

.section1-in-third-container{
  margin-top: 81%;
}

.section5-of-third-container{
  display: grid;
  grid-template-rows: 4fr;
  margin: 20px;
}

.homebtn{
  text-decoration: none;
}

.put-together-column{
  display: grid;
  grid-template-columns: auto auto;
}

.keep-in-touch{
  padding: 20px;
  border: 1px gray solid;
  height: 423px;
  width: 376px;

}

.input-btn{
  display: block;
  border: 1px solid #CCC;
  color: rgba(0,0,0,0.75);
  font-size: 14px;
  font-weight: normal;
  font-family: inherit;
  padding: 8px;
  height: 37px;
  margin-bottom: 15px;
}

.updates-btn{
  background:rgb(15, 82, 186);
  color: white;
  border: rgb(15, 82, 186);
}

.updates-btn{
  height: 100%;
}

.title-wrapper-third-container{
  font-size: 22pt;
  font-family:'Oswald', sans-serif;
  font-weight: 900;
}

.speaker{
  float: left;
  width: 114px;
  padding: 7px;
}

.speaker-section{
  padding: 10px;
  border-bottom:  1px solid #EDEDED;
}

.interns{
  float: left;
  width: 114px;
  padding: 7px;
}

.interns-section{
  padding: 10px;
  border-bottom:  1px solid #EDEDED;
}

.cooking{
  float: left;
  width: 114px;
  padding: 7px;
}

.cooking-section{
  padding: 10px;
  border-bottom:  1px solid #EDEDED;
}
